.contenedor{
  background-color: aliceblue;

}

body{
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

div{
    background-color: white;
    width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

.titulo {
  text-align: center;
}

.titulo h1,
.titulo h2 {
  position: static;
  margin: 0;
  color: rgb(255, 0, 221);
}

.titulo h2 {
  margin-top: 10px;
}

h2 {
  color: rgb(255, 0, 221);
  text-align: center;
  margin: 0 0 20px;
  padding: 0;
}

h3{
    color: rgb(190, 45, 147);
    margin-top: 20px;
}

p{
    font-size: 18px;
    margin: 10px 0;
    color:black
}

img{
    display: block;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

button{
    background-color: rgb(173, 0, 150);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 15px;
}

button:hover{
    background-color: rgb(204, 133, 200);
}
.footer {
  background-color: rgb(104, 103, 104);
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
}
.footer h1,
.footer h2 {

  color: #240000;
  text-align: center;
  margin: 0 0 20px;
  padding: 0;
}